
@font-face {
    font-family: "montserrat-bold";
    src: url("./fonts/montserrat/Montserrat-Bold.otf");
}
@font-face {
    font-family: "montserrat";
    src: url("./fonts/montserrat/Montserrat-Regular.otf");
}

.header {
  text-align:center;
  font-size: 36px;
  font-weight:bold;
  font-family: montserrat;
  color:white;
  background:black;
  padding: 20px;
}


h2 {
  font-size: 36px;
  font-weight:bold;
  font-family: montserrat;
  color:white;
}

input {
  font-size: 24px;
}

body {
  padding:0;
  margin:0;
  background: #141414;
  font-family: montserrat;

}

div {
  color:white;
}

/* ================ JOINING SCREEN ================ */

.error-room {
  color:red;
  font-size: 20px;
  font-weight:bold;
  padding: 30px;
}

.button-room-input {
  font-size: 20px;
  font-weight:bold;
  font-family: montserrat;
  margin-top: 20px;
  border-radius: 10px;
}

/* ================ THE BLUFFING/VOTING SCREEN ================ */

.prompt {
  font-size: 20px;
  max-width: 200px;
}

.word {
  font-size: 36px;
}

.room-label {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.lobby-label {
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}

.players {
  font-size: 30px;
}

.pretty-button {
  font-size: 20px;
  font-weight:bold;
  font-family: montserrat;
  margin-top: 20px;
  border-radius: 10px;
}

/* ================ PLAYER STATUS NAMETAGS ================ */

.done {
  background: #6fd15e;
}

.not-done {
  background: #ff8282;
}

.player-nametags {
  transition: background 2s ease, color 2s ease;
  min-width:100px;
  height:36px;
  padding:5px;
  margin:10px;
  margin-top: 20px;
  border-radius:5px;
  font-weight: bold;
  color: black;
}

/* ================ SCOREBOARD ANIMATIONS ================ */

.scoreboard {
  position: relative;
  font-size: 30px;
  color: white;
  width: 700px;
}

.scoreboard-row {
  transition: top 2s ease;
  position: absolute;
  left:0;
  right:0;
  margin:auto;
  width: 700px;
}

.scoreboard-row td:nth-child(1) {
  width:200px;
}

.scoreboard-row td {
  width: 250px;
}

.options-container {
  width:100px;
  background:#222;
  padding:30px;
  border-radius:5px;
  font-size:32;
}

.options-container li {
  text-align:left;
}

.correct-answer {
  border-bottom: 1px solid white;
  font-weight:bold;
}

.flash-on {
  background: yellow;
  color: black;
}
